[modules]

# law_trees2ws_data
# law_trees2ws
# law_background
# law_signal
# law_datacard

analysis
# law_combine
law_spectra

[logging]

luigi-interface: DEBUG


[luigi_core]

local_scheduler: False
no_lock: True
scheduler_host: lxbatch08.physik.rwth-aachen.de
scheduler_port: 8082

[job]

job_file_dir: remote
job_file_dir_mkdtemp: False

htcondor_job_file_dir: remote
htcondor_job_file_dir_mkdtemp: False

# Try to ship setup
bootstrap_file: /.automount/net_rw/net__data_cms3a-1/spaeh/private/PhD/analyses/partial_Run3_differential/Hgg-PartialRun3-3A-ETH-Analysis/fitting/CMSSW_14_1_0_pre4/src/flashggFinalFit/law/remote_setup.sh
bootstrap_command: source "$(law_job_init_dir)/remote_setup.sh"

[luigi_worker]

keep_alive: True
ping_interval: 20
wait_interval: 20
max_reschedules: 3
#0

[luigi_scheduler]

retry_count: 3
#0
[core]
task_regex = .*
module = your_module
default-workers = 1

[sandbox]
default = local

[target]
default_fs = local

[luigi]